{% extends 'default.html' %}

{% block content %}
<h1>Details</h1>
<div class="row">
    <div class="col-3">
        <div class="card">
            <img src="{{user['foto']}}" class="card-img-top" alt="User foto">
            <div class="card-body">
                <h5 class="card-title">{{user['name']}}</h5>
                <p class="card-text">id: {{user['id']}}</p>
                <p class="card-text">Leeftijd: {{user['age']}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}