{% extends 'default.html' %}

{% block content %}
<h1>Toevoegen</h1>
<div class="row">
    <div class="col-8">
        <div class="card">
            <img src="{{user['foto']}}" class="card-img-top" alt="User foto">
            <div class="card-body">
                <h5 class="card-title">{{user['name']}}</h5>
                <p class="card-text">id: {{user['id']}}</p>
                <p class="card-text">Leeftijd: {{user['age']}}</p>
            </div>
        </div>
        <form action="{{ url_for('edit', id=user['id']) }}" method="post" enctype="multipart/form-data">
            <!--            Naam -->
            <div class="mb-3">
                <label for="InputName" class="form-label">Naam</label>
                <input type="text" class="form-control" name="name" id="InputName">
            </div>
            <!--            Leeftijd-->
            <div class="mb-3">
                <label for="InputAge" class="form-label">Leeftijd</label>
                <input type="text" class="form-control" name="age" id="InputAge">
            </div>
            <button type="submit" class="btn btn-primary">Wijzigen</button>
            <a href="{{ url_for('index')}} " class="btn btn-outline-info">Annuleren</a>
        </form>
    </div>
</div>
{% endblock %}
